<h1>Listing haggles</h1>

<table>
  <thead>
    <tr>
      <th>Commodity</th>
      <th>Open</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @haggles.each do |haggle| %>
      <tr>
        <td><%= haggle.commodity %></td>
        <td><%= haggle.open %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
